body {
  margin: 0 auto;
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-weight; 800;
  background-color: white;
}
/* font-family: 'Nunito', sans-serif; 600 or 400
font-family: 'Quicksand', sans-serif; 800 or 200*/

h1 {
  font-weight: 200;
  font-size: 3rem;
}

.container {
  border: 2px solid white;
  background-color: rgb(55, 64, 85);
  padding: 2% 24% 4% 24%;
  margin: 1%;
}

.banner {
  margin: 0;
  border-radius: 0%;
  border: none;
  background-color: white;
  color: rgb(14, 206, 179);
}

img {
  width: 72%;
  height: 72%;
  border-radius: 8px;
  border: 2px solid rgb(55, 64, 85);
  box-shadow: 0px 1px 8px white;
}

div {
  margin: 4%;
  border: 2px solid white;
  padding: 4%;
  border-radius: 4px;
  background-color: rgb(3, 175, 149);
  color: rgb(55, 64, 85);
}

.card {
  box-shadow: 0px 1px 8px white;
}

.button {
  background-color: rgb(3, 175, 149);
  border: white solid 2px;
  border-radius: 10px;
  padding: 1%;
  width: 120px:
  margin: 0% 20% 5% 20%;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}

.button:hover {
  background-color:rgb(49, 227, 203);
  border: white solid 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 8px white;
}

.icon {
  color: rgb(55, 64, 85);
  padding: 10px;
  width: 10px;
  height: 10px;
  font-size: 4rem;
}

.icon:hover {
  color: white;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  img {
    width: 92%;
  }

  .icon {
    font-size: 2rem;
  }
}
