body {
  margin: 0 auto;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  background-color: black;
}


div.main_bg {
  background-image: url('https://media.giphy.com/media/eLnSQCj4GUSpzcquvI/giphy.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

div.blur {
  backdrop-filter: blur(1px);
}


/* font-family: 'Nunito', sans-serif; 600 or 400
/* font-family: 'Quicksand', sans-serif; 800 or 200
/* font-family: 'Raleway', sans-serif; */

#navbar {
  width: 100vw;
  height: 65px;
  background-color: rgb(0, 16, 23);
  padding: 2px;
  position: fixed;
  z-index: 10;
  border-bottom: 2px solid white;
  top: -100px;
  transition: top 0.6s;
  z-index: 10; 
}

#navbar img {
  height: 70px;
  width: 70px;
  margin: 20px 0px;
  border: 2px solid white;
  box-shadow: none;
  border-radius: 50%;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  justify-content: flex-start;
  text-align: left;
  border: none;
  background: none;
  padding: 10% 3% 10% 3%;
}

.top img {
  height: 140px;
  width: 140px;
  margin: 20px 0px;
  border: 2px solid white;
  box-shadow: none;
  z-index: 7;
  border-radius: 50%;
}

.titles {
  background-color: rgba(0, 16, 23, 0.75);
  border: 2px solid white;
  padding: 0% 1% 0% 130px;
  position: absolute;
  z-index: 0;
  margin-left: 30px;
}

h5 {
  color: white;
}

p {
  font-size: 1.4rem;
}

strong {
  color: white;
  font-size: 1.5rem;
}

.container {
  padding: 2% 8% 2% 8%;
  margin: 0 auto;
}

.colcard {
  padding: 8% 3%;
  margin-bottom: 8%;
  border: 1px solid white;
  background-color: rgba(0, 16, 23, 0.75); 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  color: rgb(172, 197, 255);
  box-shadow: 0 0 6px rgb(172, 197, 255);
}


.rowcard {
  padding: 8% 3%;
  margin-bottom: 8%;
  background-color: rgba(0, 16, 23, 0.75);
  color: rgb(172, 197, 255);
  border: 1px solid white;
  box-shadow: 0 0 6px rgb(172, 197, 255);
}

.titlebar {
  width: 101.5%;
  padding: 2%;
  background-color: rgb(0, 16, 23);
  color: rgb(172, 197, 255);
}

.rowcard img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: 9;
  margin-top: 2%;
  margin-bottom: 2%
}
.rowcard img:hover {
  transform: scale(1.3);
  z-index: 9;
}

.demo {
  border: 2px solid white;
  border-radius: 2px;
  box-shadow: none;
}

.flex-links {
  display: flex;
  border: none;
  justify-content: center;
  text-align: center;
}

.flex-row {
  display: flex;
  border: none;
  justify-content: space-around;
  text-align: center;
}

.small-col img{
  max-width: 185px;
  max-height: 185px;
}

.small-col img:hover {
  transform: none;
}

.clicker {
  margin: 0 4%;
}

a p {
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
}

.contact-info a p {
  font-size: 1.5rem;
  color: rgb(172, 197, 255);
  mix-blend-mode: darken;
}

.contact-info a:hover p{
  color: white;
  text-shadow: 0 0 4px;
  text-decoration: underline;
}

.icon {
  color: rgb(172, 197, 255);
  font-size: 2.6rem;
  text-align: center;
  line-height: 0;
  transition: 0.3s;
}

.icon:hover {
  color: white !important;
  text-shadow: 0 0 4px;
  transform: scale(1.05);
}

.form-box {
  width: 100%;
}

.btn-primary {
  background-color: #293532;
  border: 1px solid white;
}

.btn-primary:hover {
  background-color: rgb(172, 197, 255);
}

.d-none {
  display: none;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  a p {
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
  }

  .icon {
    font-size: 2.2rem;
  }

  .container {
    padding: 4% 6% 4% 6%;
    margin: 0 auto;
  }

  .row img:hover {
    transform: none;
  }
}
